@import '../scss/componentes/variables';

.intro-no {
    align-content: center ;
    text-align: center;
    font-family:red hat display;
    color: $color-font;
    padding: 50px 50px;
    background-color: $color-bac3;
    font-size: 28px;

    .ti-no {
        text-align: center;
        font-family: kalnia;
        font-size: 42px;
        padding: 50px 50px;
    }
}
.ti-no:hover:before {
    content: '✨';
}

.per-lauh { 
    display: flex;
    justify-content:space-between;
    font-family: red hat display;
    font-size: 23px;
    color: $color-font;
    margin: 100px 100px 100px 100px;
    

    .ti-lauh { 
        text-align: center;
        font-family: kalnia;
        font-size: 42px;
        padding: 50px 50px;
        .p-lauh {
            padding: 100px 100px;
            
    
         }
      }
      @media screen and (max-width: 480px) {
        
            grid-template-rows:  3fr;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
            'ti-lauh'
            'p.lauh'
            'img-la ';
            gap: 90px;
            grid-template-columns: min-content;
        }

        @media only screen and (min-width: 481px) and (max-width: 980px) {
            
                grid-template-rows:  1fr;
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                'ti-lauh'
                'p.lauh'
                'img-la ';
                gap: 90px;
                grid-template-columns: min-content;
            }
    }
    .img-la {
        display:grid;
        justify-content: center;
    }