
@import '../scss/componentes/variables';

.intro-servicios {
    padding: 70px 70px;
    text-align: center;
    font-size: 19pt;
    color:$color-font;
    font-family: red hat display;
    background-color:$color-bac2;
    .titulo-servicios{
    text-align: center;
    justify-content: center;
    @extend %titulo;
    padding: 40px 150px;
     }
}
.titulo-servicios:hover:before {
    content: '💫';
}

.sub-servicios{
    @extend %subtitu;
    text-align: center;
    padding: 40px 40px 40px 40px;
    margin: auto;
    background-color:$color-bac;
}
.sm-img {
    display:grid;
    justify-content: center;
}

.sm-container {
    display: flex;
    justify-content: space-around;
    padding: 100px 100px;
    text-align: center;
    font-size: 20pt;
    color:$color-font;
    font-family: red hat display;
      .p-servicios {
        text-align: center;
        font-family: red hat display;
        font-size: 28px;
    .boton {
    display:flexbox;
    justify-content:flex-end;
    font-size: 24pt;
    font-family: kalnia;

    }
}
        @media screen and (max-width: 480px) {
        
            grid-template-rows:  3fr;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
            'sub-servicios'
            'sm-img'
            'sm.container';
            gap: 90px;
            grid-template-columns: min-content;
        }
    
        @media only screen and (min-width: 481px) and (max-width: 980px) {
            
                grid-template-rows:  1fr;
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                'sub-servicios'
                'sm-img'
                'sm.container';
                gap: 90px;
                grid-template-columns: min-content;
            } 
        }
    
    
    