@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Nunito&family=Playfair+Display:wght@700&family=Poppins:wght@600&display=swap');/*titulos*/
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Nunito&family=Playfair+Display:wght@700&family=Poppins:wght@600&family=Red+Hat+Display&display=swap'); /*cuerpos-bloquestexto*/

@import 'proyectos';
@import 'servicios';
@import 'nosotros';
@import 'contacto';
@import '../scss/componentes/mixins';
@import '../scss/componentes/variables';
@import '../scss/componentes/extends';

.logo {
    width: 80px;
    height: 80px;
    padding: 10xp 20px;
    margin: 2% 50%;
    display: flex;
    justify-content: center;

    }

nav { 
    display: flex;
    justify-content:space-around;
    color:$color-font;
    text-decoration: none;
    background-color:$color-bac3;
    font-family: kalnia;
    padding: 20px 0px;
    .nav-item {
            background-color: $color-bac3;
            display: flex;
            color:$color-font;
            padding: 0px 40px;
            font-size: 28px;
        .nav:hover {
                color: blue;
                text-decoration: underline;
                cursor: pointer;

        }
    }
 }

 .textointro:hover::before {
    content: '💟' ;}
.textointro:hover::after {
        content: '💟' ; 
    }

 .textointro {
    @extend %titulo;
    text-align: center;
    background-color:$color-bac;
    padding: 50px 0px;      
 
    .banner-inicial {
    justify-content: center;
    padding: 30px 0px;
    height: 50%;
    background-color:$color-bac;
                            
    }
}     

    .parrafo1-container {
    @include parrafo(24pt,red hat display, $color-font);
    padding: 80px;
    font-family: red hat display;
    .question {
     @include parrafo(26pt,red hat display, $color-font);
    } 
}

.tracking-in-expand-fwd {
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  


.inicio-servicios:hover:before {
    content: '💻';}

    .inicio-servicios {
     background-color:$color-bac;
      padding: 10px 30px;
      margin: 30px 0px;
      @extend %subtitu;
      text-align: center;                    
}
                                        
    .cardscontainer-grid {
        @include parrafo(16pt,red hat display, $color-font);
        padding: 80px;
      display: grid;
      justify-content: center;
      grid-template-rows: repeat (3, 600px);
      grid-template-columns:repeat (3, 1fr);
      gap: 100px;
    align-content:flex-start;
      grid-template-areas: 
      'branding socialmedia marketing';
       padding: 30px 30px;
    .card card-body {
      border: 1px solid $color-bac(219, 219, 219);
       padding: 30px 30px;
        background-color:$color-bac;
           
        }
        
    }
                                                                
   footer {
    padding: 20px 10px;
     margin: 50px;
     background-color:$color-bac;
    font-family: kalnia;
     .final {
      text-align: center;
      background-color:$color-bac;
      @extend %subtitu;
    }
                                                                    
 }
/*mobile*/
@media screen and (max-width: 480px) {
    .cardgrid-mobile {
        grid-template-rows:  1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        'card'
        'card'
        'card ';
        gap: 90px;
        grid-template-columns: min-content;
    }
    .textointro {
        font-size: 28pt;
        padding: 20px 20px 20px 20px;
    }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 980px) {
    .cardgrid-mobile {
        grid-template-rows:  1fr 1fr 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        'card' 
        'card' 
        'card';
        gap: 10px;
        grid-template-columns: min-content;
    }

    .textointro {
        font-size: 30pt;
        padding: 20px 20px 20px 20px;
    }
}

.ti-pro {
    text-align: center;
    font-family: kalnia;
    font-size: 38px;
    padding: 50px 50px;

}