@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Nunito&family=Playfair+Display:wght@700&family=Poppins:wght@600&display=swap');/*titulos*/
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Nunito&family=Playfair+Display:wght@700&family=Poppins:wght@600&family=Red+Hat+Display&display=swap'); /*cuerpos-bloquestexto*/

/*Aquí comienza el inicio*/
* {
    background-color: #fce3e3;
}
.logo {
    width: 80px;
    height: 80px;
    padding: 10xp 0px;
    margin: 2% 50%;
    display: flex;
    justify-content: center;
    background-color: #fce3e3;
}
.nav {
    display: flex;
    justify-content:space-around;
    color:#360101;
    text-decoration: none;
    background-color:#fce3e3;
    font-family: kalnia;
    padding: 20px 0px;
}
.nav-item {
    background-color: #fce3e3;
    display: flex;
    color: #360101;
    padding: 0px 40px;
    font-size: 28px;
}
.nav:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.textointroductorio:hover::before {
    content: '💟' ;
}
.textointroductorio:hover::after {
    content: '💟' ;
}
.inicio-servicios:hover:before {
    content: '💻';
}

.barra {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 18pt;
    padding: 10px 100px;
    font-family: kalnia;
}
.Introduccion {
    display: flex;
    justify-content: center;
}
.banner-inicial {
    justify-content: center;
    padding: 30px 0px;
    height: 50%;
    background-color: white;
}
.textointroductorio {
    text-align: center;
    font-size: 40pt;
    color:#360101;
    font-family: kalnia;
    background-color: white;
    padding: 50px 0px;
}

.parrafo1-container {
    text-align: center;
    font-size: 20pt;
    color:#360101;
    padding: 80px;
    font-family: red hat display;
}
.question {
    font-size: 20pt;
    color:#360101;
    font-family: red hat display;
}
.inicio-servicios{
    background-color: white;
    padding: 10px 30px;
    margin: 30px 0px;
    font-family: kalnia;
    text-align: center;
}

.cardscontainer-grid {
    font-family: red hat display;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat (3, 600px);
    grid-template-columns:repeat (3, 1fr);
    gap: 100px;
    align-content:flex-start;
    grid-template-areas: 
    'branding socialmedia marketing';
    padding: 30px 30px;
}
.card card-body {
    border: 1px solid rgb(219, 219, 219);
    padding: 30px 30px;
    background-color: white;
}

footer {
    padding: 20px 10px;
    margin: 50px;
    background-color: white;
    font-family: kalnia;
}
.final {
    text-align: center;
    background-color: white;
    color: #360101;
}
/*mobile*/
@media screen and (max-width: 480px) {
    .cardgrid-mobile {
        grid-template-rows:  1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        'card'
        'card'
        'card ';
        gap: 90px;
        grid-template-columns: min-content;
    }
    .textointroductorio {
        font-size: 28pt;
        padding: 20px 20px 20px 20px;
    }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 980px) {
    .cardgrid-mobile {
        grid-template-rows:  1fr 1fr 1fr;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        'card' 
        'card' 
        'card';
        gap: 10px;
        grid-template-columns: min-content;
    }

    .textointroductorio {
        font-size: 30pt;
        padding: 20px 20px 20px 20px;
    }
}


/*Aquí finaliza el inicio*/

/*Aquí inicia nosotros*/
.titulo-nosotros {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26pt;
    color:#360101;
    font-family: kalnia;
    background-color:white;
    padding: 30px;
}
.titulo-nosotros:hover:before {
    content: '✨';
}

.texto-nosotros {
    display: flex;
    justify-content: center;
    font-size: 18pt;
    padding: 30px 300px 50px 300px;
    color:#360101;
    font-family: red hat display;
}

.titulos-lauras {
    display: flex;
    text-align: center;
    font-size: 24pt;
    color:#360101;
    font-family: kalnia;
} 
.lauras-container { 
    display: flex;
    justify-content:last baseline;
    text-align: center;
    font-size: 14pt;
    color:#360101;
    font-family: red hat display;
    padding: 50px 100px 50px 100px;
    border: 1px solid white;
    border-radius: 30px;
    margin: 50px 100px;
    
}
.laurah-container { 
    display: flex;
    justify-content:last baseline;
    text-align: center;
    font-size: 14pt;
    color:#360101;
    font-family: red hat display;
    padding: 50px 100px 50px 100px;
    margin: 50px 100px;
    border: 1px solid white;
    border-radius: 30px;
}
.lauras-p {
    padding: 0px 30px;
    margin: 50px 50px;
    border-radius: 20px;
}
.lauras-img {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
}

/*Aquí finaliza nosotros*/

/*Aquí inicia servicios*/

.intro-servicios {            /*container*/
    padding: 50px 50px;
    text-align: center;
    font-size: 20pt;
    color:#360101;
    font-family: red hat display;
}
.titulo-servicios {
    text-align: center;
    font-size: 30pt;
    color:#360101;
    border: 3px solid white;
    border-radius: 30px;
    padding: 40px 150px;
    font-family: kalnia;
}
.titulo-servicios:hover:before {
    content: '💫';
}
.sm-container {                   /*container*/
    display: flex;
    justify-content: space-around;
    padding: 100px 100px;
    text-align: center;
    font-size: 20pt;
    color:#360101;
    font-family: red hat display;
    background-color:#fce3e3;
    
}
.sm-img {
    width: 600px;
    height: 400px;
    padding:30px 30px 30px 30px;
    display: flex;
    justify-content: flex-start;
    background-color:#fce3e3;
    
}
.sub-servicios {
    text-align: center;
    font-size: 30pt;
    color:#360101;
    padding: 40px 40px 40px 40px;
    margin: auto;
    font-family: red hat display;
    background-color:white;
}
.boton {
    display:flexbox;
    justify-content:flex-end;
    font-size: 24pt;
    font-family: kalnia;
}


/*Aquí finalizo servicios*/

/*Aquí inicio proyectos*/

.titulo-inicial {
    text-align: center;
    font-size: 24pt;
    color:#360101;
    padding: 40px 40px 40px 40px;
    font-family: kalnia; 
}
.titulo-inicial:hover:before {
    content: '💡';
}
.img-p1 {
    width:500px;
    height:320px;
}
.img-p2 {
    width:500px ;
    height:320px;  
}
.img-p3 {
    width:500px ;
    height:320px;
}
.img-p4 {
    width:500px;
    height:290px;
}
.img-p5 {
    width:500px ;
    height:290px;  
}
.img-p6 {
    width:500px ;
    height:290px;
}
.p-info {
    font-family: red hat display;
    font-size:18pt;
    background-color: white;
    padding: 30px 30px 30px 30px;
}
.titulo-proy {
    font-family: kalnia;
    text-align: center;
    padding: 30px 30px;
}

.sm-proyectos {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat (3, 600px);
    grid-template-columns:repeat (3, 1fr);
    gap: 100px;
    align-content:flex-start;
    grid-template-areas: 
   'img-p1 img-p2 img-p3'
   'img-p4 img-p5 img-p6';
   padding: 50px 50px 50px 50px;
}

/*Aquí finaliza proyectos*/

/*Aquí inicia contacto*/
.sub-proy {
    font-family: kalnia;
    text-align: center;
    padding: 30px 30px 30px 30px;
}
.sub-proy:hover::before {
    content: '📞';
}

.parrafo-contacto {
    font-family: red hat display;
    text-align: center;
    font-size: 20pt;
    padding: 30px 200px 30px 30px;

}
form {
    font-family: red hat display;
    display:flexbox;
    justify-content:center;
    padding: 60px 700px;
}
.formulario {
    display:flex;
    border: 1px solid #360101;
    padding: 10px;
    margin: 20px;
    font-family: red hat display;
}
.formulario-container {
    display: inline;
    margin: 50px 500px 50px 500px;
}
/*mobile*/
@media screen and (max-width: 480px) {
    .form-mobile {
        padding: 70px;
        margin: 0px;
        justify-content: center;
        grid-template-rows:  1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        'mb-3' 
        'mb-3' 
        'mb-3';
        gap: 90px;
        grid-template-columns: min-content;
    }
    .parrafo-contacto {
        font-size: 18pt;
        padding: 20px 20px 20px 20px;
    }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 980px) {
    .form-mobile{
        padding: 70px;
        margin: 0px;
        justify-content: center;
        grid-template-rows:  1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        'mb-3' 
        'mb-3' 
        'mb-3';
        gap: 90px;
        grid-template-columns: min-content;
    }
    .parrafo-contacto {
        font-size: 20pt;
        padding: 20px 20px 20px 20px;}
     .form-label {
        font-size: 24px;
     }
}
/*Aquí finaliza contacto*/